<html>
    <head>
        <title>index!</title>
        <link rel="stylesheet" href="main.css">
    </head>
    <body>
        <h1>go-web!</h1>
        <p>this server is a golang web server! if you wish to change this page edit the index.html!</p>
        <p>and rember this is a static web hositn site so far so sadly you can't run any login pages, yet :^)</p>
        <p>the github for this project is </p>
        <p>image!</p>
        <img src="img/test.png" style="width:500px;height:600px;">
        <a href="/help.html">help</a>
    </body>
</html>